#icon-edit.icon32{
background: url(http://www.kayako.com/images/icons/ss.png) no-repeat left;
background-position: 0 -416px!important;
overflow: hidden;
display: block;
height: 32px!important;
width: 32px!important;
line-height: 32px!important;
}